<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Kaliya</display-name>

  <context-param>
    <param-name>controller.package</param-name>
    <param-value>com.synhaptein.kaliya.controller</param-value>
    <description>Package where the controllers are located</description>
  </context-param>

  <listener>
    <listener-class>com.synhaptein.kaliya.listener.KaliyaServerListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>NavigationManager</servlet-name>
    <servlet-class>com.synhaptein.scalator.NavigationManager</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>NavigationManager</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.swf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/favicon.ico</url-pattern>
  </servlet-mapping>

  <!--error-page>
    <error-code>403</error-code>
    <location>/error/error403</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error/error404</location>
  </error-page>
  <error-page>
   <error-code>500</error-code>
   <location>/500.html</location>
  </error-page-->

  <security-constraint>
    <web-resource-collection>
    <web-resource-name>Deny Direct Access to JSPs</web-resource-name>
    <description>
    </description>
    <url-pattern>/jsp/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    <role-name>Denied</role-name>
    </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
    <web-resource-name>Deny Direct Access to VMs</web-resource-name>
    <description>
    </description>
    <url-pattern>/vm/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    <role-name>Denied</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>Denied</role-name>
  </security-role>

</web-app>
