<web-app version="2.5">
  <display-name>Kaliya</display-name>

  <context-param>
    <param-name>controller.package</param-name>
    <param-value>com.synhaptein.kaliya.controller</param-value>
    <description>Package where the controllers are located</description>
  </context-param>

  <listener>
    <listener-class>com.synhaptein.kaliya.listener.KaliyaServerListener</listener-class>
  </listener>

  <filter>
    <filter-name>Scalator Navigation Manager</filter-name>
    <filter-class>com.synhaptein.scalator.NavigationManager</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Scalator Navigation Manager</filter-name>
    <url-pattern>*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

</web-app>
