<web-app version="2.5">
  <display-name>Kaliya</display-name>

  <listener>
    <listener-class>com.synhaptein.kaliya.listener.KaliyaServerListener</listener-class>
  </listener>

  <filter>
    <filter-name>KaliyaWebApp</filter-name>
    <filter-class>com.synhaptein.kaliya.KaliyaWebApp</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>KaliyaWebApp</filter-name>
    <url-pattern>*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>

</web-app>
